<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FuzzyLogicDBEntities" connectionString="metadata=res://*/FuzzyLogicModel.csdl|res://*/FuzzyLogicModel.ssdl|res://*/FuzzyLogicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=FuzzyLogicDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>