@model FuzzyLogicModel.FuzzyRule

        <tr>
            <td style="font-weight: bold; width:30%;">@Resources.RuleContent</td>
            <td style="width: 40%;">@Model.StringRuleContent</td>
        </tr>

