@model FuzzyLogicModel.FuzzyRule

        <tr>
            <td style="font-weight: bold; width:50%;">@Resources.RuleContent</td>
            <td style="width: 50%;">@Model.RuleContent</td>
        </tr>

