@model FuzzyLogicWebService.FISFiles.DBModel.FVariable

            <tr>
                <td>@Model.Name</td>
                <td>@Model.MinValue</td>
                <td>@Model.MaxValue</td>
                <td>@Model.NumberOfMembFunc</td>
            </tr>
