 @model FuzzyLogicModel.FuzzyRule
<tr>
    <td class="editor-label">
        @Html.LabelFor(model => model.RuleContent)
    </td>
    <td style="width: 80%;">
        @Html.TextAreaFor(model => model.RuleContent)
        @Html.ValidationMessageFor(model => model.RuleContent)
    </td>
</tr>
