 @model FuzzyLogicModel.FuzzyRule
 <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.RuleContent)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.RuleContent)
            @Html.ValidationMessageFor(model => model.RuleContent)
        </td>
        </tr>
