 @model FuzzyLogicModel.FuzzyRule
<tr>
    <td >
        @Html.LabelFor(model => model.RuleContent)
    </td>
    <td style="width: 80%;">
        @Html.EditorFor(model => model.RuleContent)
        @Html.ValidationMessageFor(model => model.RuleContent)
    </td>
</tr>
