@model FuzzyLogicWebService.FISFiles.DBModel.Rule

        <div class="editor-label">
            @Html.LabelFor(model => model.RuleContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RuleContent)
            @Html.ValidationMessageFor(model => model.RuleContent)
        </div>

