@model IEnumerable<FuzzyLogicWebService.FISFiles.DBModel.FVariable>

@{
    ViewBag.Title = "Add Input Variables";
}

<h2>Add Input Variables</h2>
     @using (Html.BeginForm("AddInputVariables", "CreateModel"))
     {
        
        @Html.EditorFor(x => Model)
        
    <input type="submit" value="Add variables" />
    }