@model IEnumerable<FuzzyLogicModel.FuzzyVariable>

@{
    ViewBag.Title = "Add Input Variables";
    ViewBag.VariableWidth = 100 / Model.AsEnumerable().Count();
}

<h2>Add Input Variables</h2>

     @using (Html.BeginForm("AddInputVariables",   "CreateModel"))
     {
        //add bootstrap cells for every variable; same for output
        @Html.EditorFor(x => Model)
        
    <input type="submit" value="@Resources.AddVariables" />
    }

