@model IEnumerable<FuzzyLogicModel.FuzzyVariable>
@{
    ViewBag.Title = @Resources.AddInputVariables;
    ViewBag.VariableWidth = 100 / Model.AsEnumerable().Count();
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("AddInputVariables", "CreateModel"))
{
    <table style="width: 100%;">
        @Html.EditorFor(x => Model)
    </table>
        
    <input type="submit" value="@Resources.AddVariables" />
}
