@model IEnumerable<FuzzyLogicModel.FuzzyVariable>

@{
    ViewBag.Title = "Add Input Variables";
}

<h2>Add Input Variables</h2>
     @using (Html.BeginForm("AddInputVariables",   "CreateModel"))
     {
        
        @Html.EditorFor(x => Model)
        
    <input type="submit" value="@Resources.AddVariables" />
    }