@model IEnumerable<FuzzyLogicModel.MembershipFunction>

@{
    ViewBag.Title = "AddMembershipFuncDetails";
}

<h2>AddMembershipFuncDetails</h2>

@using (Html.BeginForm("AddMembershipFuncDetails","CreateModel"))
{
    @Html.EditorFor(x => Model)
       
    <input type="submit" value="@Resources.Create" />
      
}
