@model IEnumerable<FuzzyLogicModel.MembershipFunction>

@{
    ViewBag.Title = @Resources.AddMembershipFunc;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddMembershipFuncDetails","CreateModel"))
{
    <table style="width: 100%;">
    @Html.EditorFor(x => Model)
    </table>
       
    <input type="submit" value="@Resources.Create" />
      
}
