@model IEnumerable<FuzzyLogicModel.FuzzyVariable>

@{
    ViewBag.Title = "Add Output Variables";
}

<h2>Add Output Variables</h2>
     @using (Html.BeginForm("AddOutputVariables", "CreateModel"))
     {
        
        @Html.EditorFor(x => Model)
        
    <input type="submit" value="@Resources.AddVariables" />
    }