@model ICollection<FuzzyLogicModel.FuzzyRule>

@{
    ViewBag.Title = "AddRulesToModel";
}

<h2>AddRulesToModel</h2>

@using (Html.BeginForm("AddRulesToModel", "CreateModel"))
{
    <table>
    @Html.EditorFor(x => Model)
    </table>
<input type="submit" value="@Resources.Next" />
}
