@model FuzzyLogicModel.FuzzyModel
@{
    ViewBag.Title = @Resources.DetailsOfModel;
}
@Html.ActionLink(@Resources.EditModel, "EditModel", "CreateModel", new { modelId = Model.ModelID }, null)
@Html.DisplayForModel()
<p>
</p>