@model FuzzyLogicModel.FuzzyModel

@{
    ViewBag.Title = "ModelDetails";
}

<h2>@Resources.DetailsOfModel @Model.Name</h2>
    <table border="1" style="width:100%">
    @Html.DisplayForModel()
</table>
