@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Disaster!";
}

<h2>
    You see what you've done!? You broke the Web!! There is a problem with application, please try again later.
</h2>
