@model List<FuzzyLogicWebService.Models.InputValue>

@{
    ViewBag.Title = "ModelCalculation";
}

<h2>@Resources.InsertInputValues</h2>

    @using (Html.BeginForm("CalculateOutput", "ModelCalculation", FormMethod.Post))
    {
        
        @Html.EditorForModel()

        <input type="submit" value="@Resources.Calculate" />
    }